header .logo {
    height: 55px;
    padding: 10px 10px 10px 50px;
}
header .logo-desc{
    font-weight: 600;
    color: #757575;
}
header .nav-link{
    color:#757575
}
.hero-banner{
    background:#039be5 url("../images/landing-hero-welcome.png") no-repeat 328px 0;
    min-width: 1000px;
    min-height: 368px;
    width: 100%
}
.main-content{
    background:#F4F6F7;
    min-width: 1000px;
    min-height: 140px;
    width: 100%
}
.main-content img{
    width: 100px;
}
.main-desc{
    min-height: 300px;
}
.main-desc img{
 width: calc((100% - 80px)/1.2);
}
.try-it-now{
    background-color: #039be5;
    min-height: 200px;
}
footer{
    background-color: #37424b;
    min-height: 150px;
}