html, body {
  margin: 0;
  padding: 0; }

header .logo {
  height: 55px;
  padding: 10px 10px 10px 50px; }

header .logo-desc {
  font-weight: 600;
  color: #757575; }

header .nav-link {
  color: #757575; }

.hero-banner {
  background: #039be5 url("../images/landing-hero-welcome.png") no-repeat 328px 0;
  min-width: 1000px;
  min-height: 368px;
  width: 100%; }

.main-content {
  background: #F4F6F7;
  min-width: 1000px;
  min-height: 140px;
  width: 100%; }
  .main-content .content {
    width: 50%;
    margin: auto;
    color: #424242;
    padding-left: 80px; }
    .main-content .content h4, .main-content .content p {
      font-weight: 200; }

.main-content img {
  width: 100px; }

.main-desc {
  min-height: 300px; }
  .main-desc .content {
    max-width: 75%;
    color: #424242; }
    .main-desc .content h2, .main-desc .content p, .main-desc .content a {
      font-weight: 200; }

.main-desc img {
  width: calc((100% - 80px) / 1.2); }

.try-it-now {
  background-color: #039be5;
  min-height: 200px; }
  .try-it-now .content {
    color: white;
    width: 40%;
    margin: auto;
    padding: 25px; }
    .try-it-now .content h2, .try-it-now .content p, .try-it-now .content a {
      font-weight: 200; }

footer {
  background-color: #37424b;
  padding: 0 10%;
  color: white; }
  footer h1, footer p, footer .btn, footer a {
    font-weight: 200; }
  footer .row:first-child {
    min-height: 150px; }
  footer a {
    color: white;
    font-weight: 200; }
    footer a:hover {
      color: white; }
  footer.after-login {
    position: absolute;
    bottom: 0px;
    width: 100%; }
    footer.after-login .row:first-child {
      min-height: 40px;
      line-height: 40px; }
      footer.after-login .row:first-child p {
        margin: 0; }

.hero-banner-content {
  width: 80%;
  margin: auto;
  padding: 80px 20px;
  color: white; }
  .hero-banner-content h1, .hero-banner-content p, .hero-banner-content .btn {
    font-weight: 200; }
  .hero-banner-content p {
    max-width: 400px;
    font-size: 20px; }

/*Login page*/
.blue-strip {
  background-color: #039be5;
  min-height: 60px; }

.login .content {
  color: #424242;
  background-color: #F4F6F7;
  height: 90%;
  min-height: 250px; }
  .login .content h1, .login .content button {
    font-weight: 200;
    margin-bottom: 50px; }

.right-block {
  border-left: 1px solid #ddd; }

html, body {
  height: 100%; }
  html .container-fluid:nth-child(2), body .container-fluid:nth-child(2) {
    height: calc((100% - 115px)); }
    html .container-fluid:nth-child(2) div.content.text-left, body .container-fluid:nth-child(2) div.content.text-left {
      height: 100%; }
      html .container-fluid:nth-child(2) div.content.text-left .row, body .container-fluid:nth-child(2) div.content.text-left .row {
        height: 100%; }
        html .container-fluid:nth-child(2) div.content.text-left .row .right-block, body .container-fluid:nth-child(2) div.content.text-left .row .right-block {
          height: 100%; }

a.log-anchor {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
