<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../images/Icons8_flat_pie_chart.svg.png">
    <title>My Chrome Statistics.</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../scss/main.css"/>
</head>
<body>
{% block header %}
    <div class="container-fluid">
        <header class="row align-items-center">
            <a class="col log-anchor" href="/">
                <img alt="MyStats home" class="logo" src="../images/Icons8_flat_pie_chart.svg.png"/><span
                    class="logo-desc"> My Stats</span>
            </a>
            <div class="col-lg-10">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="dummy">ContactUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="dummy">AboutUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" title="dummy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </header>
    </div>
{% endblock header %}
{% block content %}
    <div class="hero-banner">
        <div class="hero-banner-content">
            <h1>Websites time tracking for Chrome</h1>
            <p>In connected world we spent most of the time on web browsers and measurement of time is most important to
                grow, lets start doing it
            </p>
            <a class="btn btn-primary"
               href="https://chrome.google.com/webstore/detail/my-stats/hlaejfnjkhmmhldkfcnollanjnfgoodn">Install
                Extension</a>
        </div>
    </div>
    <div class="row main-content align-items-center">
        <div class="col-lg-8 col-md-8 content">
            <h4>We provide cloud first solution</h4>
            <p>Your data synchronize automatically from multiple accounts to cloud, that will help you to analyze all
                devices data at single place </p>
        </div>
        <div class="col-lg-2 col-md-2 text-center">
            <img src="../images/Graphicloads-Colorful-Long-Shadow-Cloud-3.ico">
        </div>
    </div>
    <div class="main-desc row align-items-center">
        <div class="offset-lg-1">
        </div>
        <div class="col-lg-4 col0-md-4">
            <img src="../images/hero-2x.png">
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="content">
                <h2>Data analysis availability</h2>
                <p>Data analysis available on all devices Desktop and Mobiles.</p>
                <a href="/login">Analyze now</a>
            </div>
        </div>
    </div>
    <div class="try-it-now ">
        <div class="content text-center">
            <h2>Let's try now</h2>
            <p>It is a great solutions, will help you to grow</p>
            <a href="https://chrome.google.com/webstore/detail/my-stats/hlaejfnjkhmmhldkfcnollanjnfgoodn"
               class="btn btn-primary">Install Extension</a>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer>
        <div class="row align-items-center">
            <div class="col">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">Home</a>
                </nav>
            </div>
            <div class="col">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">Privacy Policy</a>
                </nav>
            </div>
            <div class="col">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">ContactUs</a>

                </nav>
            </div>
            <div class="col">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">AboutUs</a>
                </nav>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p>copyright@2017mystats</p>
            </div>
        </div>
    </footer>
{% endblock footer %}

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>

<script src="js/config.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/data_processing.js"></script>
<script src="js/duration_selection.js"></script>
<script src="js/graph.js"></script>
<script src="js/login.js"></script>
<script src="js/report.js"></script>
<script src="js/facebook.js"></script>
<script src="js/extension_communication.js"></script>
<script src="js/http.js"></script>
<script src="js/mystats.js"></script>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://apis.google.com/js/client.js?onload=init">
</script>
</body>
</html>