{% extends  "base.html" %}
{% block content %}
    <div class="container-fluid login">
        <div class="row blue-strip">
            <div class="offset-lg-5"></div>
            <div id="ajax-loading" class="col-lg-2 invisible alert alert-warning text-center">Loading...</div>
        </div>
        <div class="content text-center">
            <div class="alert alert-success invisible" role="alert">
                <strong id="login-welcome-msg">Welcome VinayMavi !</strong> Login successfully.
            </div>
            <div class="alert alert-danger invisible" role="alert">
                <strong id="login-error-msg">Oops!</strong> something is wrong.
            </div>
            <h1>Please login with facebook to continue.</h1>
            <button id="fb_login" class="btn btn-primary">Facebook Login</button>
        </div>
    </div>

{% endblock content %}